<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link th:href="@{/resources/css/style.css}" rel="stylesheet" href="../static/resources/css/style.css"
		type="text/css" />
	<title>Stakeholder Details</title>
</head>

<body>
	<h1>
		<span th:text="'HP-' + ${stakeholder.id} + ' ' + ${stakeholder.name}">Foo</span>
		<a href="/stakeholder/{{stakeholder.id}}/edit">edit</a>
	</h1>
	<h2>Description</h2>
	<p th:text="${stakeholder.description}">Bar</p>
	<h2>Linked Requirements</h2>
	<div th:unless="${reqs.isEmpty}">
		<p>This stakeholder is linked to the following requirements:</p>
		<ul>
			<li th:each="requirement: ${reqs}">
				<a th:text="${requirement.name}" 
				   th:href="@{/requirement/{id}(id=${requirement.id})}" href="/foo/bar">Foo</a>
			</li>
		</ul>
	</div>
	<p th:if="${reqs.isEmpty}">This stakeholder has no requirements yet.</p>

	<div th:unless="${messages.isEmpty}">
	Messages:
	<ul>
		<li th:each="message: ${messages}" th:text="$messsage">Bar</li>
	</ul>
	</div>
</body>
</html>